@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    min-height: 100%;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #102a43;
    background-color: #f8fafc;
    font-family: "DM Sans", system-ui, sans-serif;
    min-height: 100%;
  }
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}